.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-primary-gradient {
  background: linear-gradient(
    to bottom right,
    var(--color-blue-accent),
    var(--color-purple-accent)
  );
  color: white;
  border: transparent;
}

.input-field,
.alert {
  border-radius: 1rem;
}

input:focus {
  border: 2px solid var(--color-purple-accent);
  outline: none;
}

.btn {
  border-radius: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 640px) {
  .input-field {
    width: 100%;
  }
}
