.roomContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-background-3);
  height: 5rem;
}

.headerContent {
  padding: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  margin: 0.5rem auto;
}

.newMessage {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 5rem;
  background-color: var(--color-background-1);
}

.inputTextArea {
  flex-grow: 1;
  border: 2px solid transparent;
  border-radius: 1rem;
  background-color: var(--color-background-2);
  padding: 1rem 2rem;
  color: var(--color-text-1);
  resize: none;
}

.sendButton {
  min-width: 3rem;
  min-height: 3rem;
  margin: 1rem 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
}

.requestToChatButton {
  margin: 1rem;
}
